@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import "tailwindcss";


@theme {
    --font-montserrat: "Montserrat", sans-serif;
    --font-ballet: "Ballet", cursive;
    --font-roboto: "Roboto", sans-serif;
    --font-lexend: "Lexend", sans-serif;
}

html {
  scroll-behavior: smooth;
}